$Inter: 'Inter', sans-serif;
$Roboto: 'Roboto', sans-serif;
$Ubuntu: 'Ubuntu', sans-serif;


$color_gray: #2d2d2d;
$color_green: #43b088;
$color_white: #fff;
$placeholder_color: #ccc;


$scroll-thumb: var(--scroll-thumb);
$scroll-track: var(--scroll-track);
