@import "var";

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin: 22px 43px;
  padding: 14px;
  border-radius: 38px;
  transition: background .3s;

  &-holder {
    border-radius: 0 0 16px 16px;
  }

  &.__fixed {
    background: $color_white;
  }
}

.logo {
  margin: -14px 0 -18px;
  padding: 0 3px;

  img {
    max-width: 100%;
  }
}

.nav {
  padding-right: 10px;
}

.navigation {
  min-height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 68px;

  li {

  }

  a {
    transition: color .3s;
    text-transform: uppercase;
    color: $color_gray;

    &:hover {
      color: $color_green;
    }
  }

  @include respond-to-min($screen_lg) {
    display: flex;
  }
}

.download {

}
