@import "var";
@import "extands";
@import "reset";
@import "header";
@import "promo";
@import "button";

html {
  --scroll-thumb: #{$color_green};
  --scroll-track: #{$color_white};

  @include custom-scroll();
  overflow-y: scroll;
  overflow-x: clip;

  * {
    @include custom-scroll();
  }
}

body {
  font: 500 14px/1.2 $Ubuntu;
  color: $color_gray;
  background: #f1f3f2;
}

.section {
  margin: 0 auto;
  max-width: 1248px;
}

@each $key, $value in $screens {

  .show__before-#{$key},
  .show__after-#{$key} {
    display: none;
  }

  @include respond-to-min(map-get($screens, $key)) {
    .show__after-#{$key} {
      display: unset;
    }

    .hide__after-#{$key} {
      display: none;
    }
  }

  @include respond-to-max(map-get($screens, $key)) {
    .show__before-#{$key} {
      display: unset;
    }

    .hide__before-#{$key} {
      display: none;
    }
  }
}
