@import "var";

.promo {
  border-radius: 16px 16px 30px 0;
  background: $color_white;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;

  @include respond-to-min($screen_xl) {
    grid-template-columns: 1fr 1.1fr;
    gap: 30px;
    padding: 25px 50px 75px 105px;
    border-radius: 90px 15px 90px 90px;
  }

  @include respond-to-min($screen_wide) {
    border-radius: 120px 20px 120px 120px;
  }

  &--left {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding-top: 77px;
    gap: 20px;
  }

  &--right {
    display: flex;
    flex-flow: row;
  }

  &--screen {
    margin: 0 -18px;

    img {
      display: block;
      max-width: 100%;
    }

    + .promo--screen {
      margin-top: 60px;
      margin-bottom: -60px;
    }
  }

  &--app {
    display: flex;
    gap: 14px 12px;
    max-width: 334px;
    flex-wrap: wrap;

    .btn {
      padding: 0 12px;
    }
  }

  &--stat {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
    max-width: 336px;

    @include respond-to-min($screen_md) {
      margin: 0;
    }

    &_item {
      border-left: 2px solid $color_mint;
      padding: 0 8px;

      @include respond-to-min($screen_md) {
        padding: 0 14px;
      }
    }

    b {
      font-size: 26px;
      font-weight: 500;
      line-height: 30px;

      @include respond-to-min($screen_md) {
        font-size: 28px;
        line-height: 32px;
      }
    }

    p {
      font-size: 10px;
      font-weight: 400;
      line-height: 16px;

      @include respond-to-min($screen_xl) {
        font-size: 12px;
      }
    }
  }

  &--title {
    font-size: 48px;
    line-height: 55px;
    margin-bottom: 50px;
  }

}
