include ./mixins

mixin datings(props = {})
  .datings
    .datings--title В Мяте знакомятся уже 5&nbsp;миллионов человек — присоединяйтесь!
    .datings--app.flex
      +app_btns()

    .datings--slider.relative
      .datings--slider_island.relative.flex.__center.__center-align
        //-img(alt='img' src='./assets/svg/island.svg' width=322 heigth=318)

        .datings--slider_holder
          #js-slider-datings.swiper
            .swiper-wrapper
              each u, i in new Array(1).fill(null)
                - let user = i + 1
                .swiper-slide.slide.relative
                  each n, ind in new Array(9).fill(null)
                    - let slide = ind + 1
                      .datings--slider_item(class= 'item-' + slide)
                        +img_src('./assets/image/users/', 'user-' + user + '-' + slide, 'png')(width=100 heigth=100)

        //-.datings--slider_heart
          img(alt='img' src='./assets/svg/myata.svg' width=180 heigth=160)
