include ./mixins

mixin footer()
  footer.section--holder.__white.__start: .section: .footer
    a.logo.hide__before-xl.js-goto(href='#section-0')
      img(alt='img' src='./assets/svg/logo_s.svg' width=203 heigth=71)

    .footer--download
      p.hide__after-xl Скачивайте наше приложение
      .footer--app
        +app_btns()

    nav.nav
      ul.navigation
        each item, ind in navigation
          li: a.js-goto(href='#section-' + (ind + 1))= item

    .footer--copy ©2023 ООО «Дейтинг Лаб». ВСЕ ПРАВА ЗАЩИЩЕНЫ
