mixin header()
  header.section: .header
    a.logo(href='/')
      img(src='./assets/svg/logo.svg')

    nav.nav
      ul.navigation
        li: a(href='#') Преимущества
        li: a(href='#') Частые вопросы
        li: a(href='#') Текст-заглушка
        li: a(href='#') Текст-заглушка

    .download
      a.btn.btn--green.__s-48.btn--round(href='#') Скачать приложение
