include ./burger

mixin header()
  header.header--holder: .section: .header
    +burger()

    .flex.__start.__center-align
      a.logo(href='/')
        img(alt='img' src='./assets/svg/logo_s.svg' width=203 heigth=71)

    nav.nav
      ul.navigation
        each item in navigation
          li: a(href='#')= item

    .download.flex.__end.__center-align
      a.btn.btn--green.__s-48.btn--round(href='#')
        span Скачать
        span.hide__before-xl &nbsp;приложение
