mixin app_btns()
  a.btn.btn--green.__s-54.btn--round(href='https://play.google.com/store/apps/details?id=mint.dating')
    img(src='./assets/svg/googleplay.svg')
  a.btn.btn--green.__s-54.btn--round(href='https://appgallery.cloud.huawei.com/ag/n/app/C104537637?locale=ru_RU&source=appshare&subsource=C104537637&shareTo=com.android.bluetooth&shareFrom=appmarket&shareIds=9757f3c7f6b34794a4d02f608c805ff1_com.android.bluetooth&callType=SHARE')
    img(src='./assets/svg/appgallery.svg')
    a.btn.btn--green.__s-54.btn--round(href='https://apps.rustore.ru/app/mint.dating')
      img(src='./assets/svg/rustore.svg')

mixin img_src(path, name, ext)
  - let x1 = path + name + '.' + ext;

  img(src=x1 loading='lazy' srcset=path + name + '@2x.' + ext + ' 2x, ' + x1 + ' 1x')

mixin loop_while(counter)
  - let i = 0;
  while i < counter
    - i++;
    block
