extends ./components/layout

block head

block content
  main.page
    .section
      .promo
        .promo--left
          .promo--logo
            img(src='./assets/svg/app_icon.svg')
          .promo--title МЯТА — онлайн знакомства в вашем мобильном
          .promo--app
            a.btn.btn--green.__s-54.btn--round(href='#')
              img(src='./assets/svg/googleplay.svg')
            a.btn.btn--green.__s-54.btn--round(href='#')
              img(src='./assets/svg/rustore.svg')
            a.btn.btn--green.__s-54.btn--round(href='#')
              img(src='./assets/svg/appgallery.svg')

        .promo--right
          .promo--screen
            img(src='./assets/image/phone-1.png' loading='lazy' srcset='./assets/image/phone-1@2x.png 2x, ./assets/image/phone-1.png 1x')
          .promo--screen
            img(src='./assets/image/phone-2.png' loading='lazy' srcset='./assets/image/phone-2@2x.png 2x, ./assets/image/phone-2.png 1x')
