extends ./components/layout
include ./components/promo
include ./components/reg_sliders
include ./components/mixins

block head

block content
  main.page.relative
    section.section--holder.__white.__end
      .section
        +promo()

        .section--end.__left.hide__after-xl

    section.section--holder.__gray.__end.__start.ovh
      .section
        +reg_sliders()


block scripts
  script(type="module", src="./assets/js/main.js")
