extends ./components/layout

block head

block content
  main.page
    .section
      .promo
        .promo--left
          .promo--title МЯТА — онлайн знакомства в вашем мобильном
          .promo--app
            a.btn.btn--green.__s-54.btn--round(href='https://play.google.com/store/apps/details?id=mint.dating')
              img(src='./assets/svg/googleplay.svg')
            a.btn.btn--green.__s-54.btn--round(href='https://apps.rustore.ru/app/mint.dating')
              img(src='./assets/svg/rustore.svg')
            a.btn.btn--green.__s-54.btn--round(href='https://appgallery.cloud.huawei.com/ag/n/app/C104537637?locale=ru_RU&source=appshare&subsource=C104537637&shareTo=com.android.bluetooth&shareFrom=appmarket&shareIds=9757f3c7f6b34794a4d02f608c805ff1_com.android.bluetooth&callType=SHARE')
              img(src='./assets/svg/appgallery.svg')

        .promo--right
          .promo--screen
            img(src='./assets/image/phone-3.png' loading='lazy' srcset='./assets/image/phone-3@2x.png 2x, ./assets/image/phone-3.png 1x')
          .promo--screen
            img(src='./assets/image/phone-2.png' loading='lazy' srcset='./assets/image/phone-2@2x.png 2x, ./assets/image/phone-2.png 1x')

        .promo--stat
          .promo--stat_item
            b 5М+
            p скачиваний

          .promo--stat_item
            b 42.3К
            p средний онлайн

          .promo--stat_item
            b 4.4
            p рейтинг
